{% extends "jobseeker/jobseeker_base.html" %}
{% block content %}
<div class="row">
         <form method="get" class="form-inline " style="float:right;">
             <div class="md-form my-0">
                 {{ applycompanyFilter.form }}
                 <button class="btn btn-primary mr-2" type="submit">Search</button>
             </div>
         </form>
</div>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Serial no</th>
      <th scope="col">Job Title</th>
      <th scope="col">Company</th>
      <th scope="col">Applied</th>
    </tr>
  </thead>
  <tbody>
  {% for apply in apply %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ apply.job.job_title }}</td>
      <td>{{ apply.job.user.name }}</td>
      <td>{{ apply.status}}</td>
        {% empty %}
      <td colspan="4" >
          <h6>Not Found</h6>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    </div>
{% endblock %}