{% extends 'jobseeker/jobseeker_base.html' %}
{% block content %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} mt-2">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
<div class="row">
         <form method="get" class="form-inline " style="float:right;">
             <div class="md-form my-0">
                 {{ titleFilter.form }}
                 <button class="btn btn-primary mr-2" type="submit">Search</button>
             </div>
         </form>
</div>
<div class="container">
  <div class="row">
      {% for job in data %}
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ job.job_title }}</h5>
        <p class="card-text">{{ job.job_description }}</p>
        <p class="card-text">Type: {{ job.job_type }}</p>
        <p class="card-text">Salary: {{ job.salary }}</p>
        <p class="card-text">Skills: {{ job.skills }}</p>
        <p class="card-text">Experience: {{ job.experience }}</p>
        <a href="{% url 'apply_jobs' job.id %}" class="btn btn-primary">Apply</a>
      </div>
        <div class="card-footer text-body-secondary">
    Last Date: {{ job.last_date }}
  </div>

    </div>

  </div>
       {% empty %}
      <div class="mt-3">
          <h6>Not Found</h6>
      </div>
      {% endfor %}
</div>

</div>

{% endblock %}